<h1>Ongoing Elections</h1>
{{#each elections}}
<div {{#if this.active}} id="card" onclick="location.href='/election';"{{else}} id="card-selected" {{/if}}>
    <form action="/election" method="POST">
        <div style="margin-left: 20px;">
            <p id="card-text">{{this.name}}</p>
            <p id="card-text">{{this.state}}</p>
            <p id="card-text">{{this.date}}</p>
        </div>
    </form>
</div>
{{/each}}
