<div style="margin-top: 170px;">
<div style="float:left;">
<h1 class="landing-title">{{title}}</h1>
<h2 style="margin-top: -20px;">/ˈbalɒ̃/</h2>
</div>
<div>
    <img src="logo.png" height="90px" style="margin-left: 20px;">
</div>
<h3 class="landing-title" style="margin-top: 20px;">Ballon is an all-in-one product for conducting elections. Anyone from
anywhere can easily vote for their favorite candidate in the ongoing elections
irrespective of their financial condition. All they need is a voter identification
to verify their identity.</h3>
<a href="login">
<button class="landing-button">Login</button>
</a>
</div>
