<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/skeleton.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div id="nav" class="twelve columns">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
    {{{body}}}
  </div>
</body>

</html>