<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<style>
    input {
        font-size: 20px;
        margin: 10px;
        padding: 4px 10px;
        width: 300px;
        background: #A5A8FF;
        border: 1px solid #A5A8FF;
        border-radius: 2px;
    }

    ::placeholder {
        color: #fff;
    }

    button {
        font-size: 20px;
        margin: 10px;
        padding: 4px 36px;
        background: #fff;
        color: #000;
        border: none;
    }
</style>

<body style="background: #696eff; padding-left: 10%; padding-top: 8%;">
    <div style="float: left; margin-top:100px;">
    <h2 style="color: #fff; margin-left: 10px;">Login</h2>
    <form method="post" action="/login" novalidate>
        <input type="text" name="username" placeholder="Voter ID" /><br />
        <input type="password" name="password" placeholder="OTP" /><br />
        <button type="submit">Login</button>
    </form>
    </div>
    <div style="float:right;">
        <img src="laptop-1.png" height="700px" style="margin-right: 75px; margin-top: -100px;">
    </div>
</body>

</html>