body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #696EFF;
}

#nav {
  margin-top: 13px;
}

#nav ul li {
  display: inline;
  margin-right: 20px;
}

#nav a {
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#card {
  box-shadow: 5px 5px 5px #eaeaea; 
  width: 20%; 
  padding: 10px; 
  float:left; 
  background-image: url('../card.png'); 
  background-repeat: no-repeat;
  background-size: cover; 
  margin-right: 30px;
  cursor: pointer;
}

#card-selected {
  box-shadow: 5px 5px 5px #eaeaea; 
  width: 20%; 
  padding: 10px; 
  float:left; 
  background-image: url('../card-selector.png'); 
  background-repeat: no-repeat;
  background-size: cover; 
  margin-right: 30px;
}

#card-text {
  color: #707070;
}
